
/* Google Font */

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Merriweather:wght@400;700;900&display=swap');

  /* Golbal Style */

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1,h2,h3,h4,h5,h6{
    font-family: 'Merriweather', serif;
  }

  p{
    font-family: 'Inter', sans-serif;
  }



  










